body {
    padding: 0;
    margin: 0;
    text-align: center;
}

#content {
    margin: 50px auto;
    width: 50%;

}

h3 {
    padding: 10px;
}

td {
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
}

table {
    margin: auto;
    padding: 10px;
}

button {
    padding: 8px;
    border-width: 0px;
    border-radius: 2px;
}

p {
    padding: 10px;
}

.word_item {
    padding: 2px ;
    margin: 2px;
}

#word_display {
    padding: 5px 10px 25px 10px;
    margin: 10px auto;
    background-color: rgb(247, 247, 247);
    border-radius: 2px;
}