{% extends 'base.html' %}
{% block content %}

<table>
{% for y in session['board'] %}
    <tr></tr>
        {% for x in y %}
                <td>{{ x }}</td>
        {% endfor %}
{% endfor %}
</table>

<p>
<form id="form" action="/" method="POST">
    <label>Enter a word that is located on the board</lable><br>
    <input id = "id" type="text" value="word" name="name">
    <button type="submit">Submit</button>
</form>
</p>
<p id="word_display">You entered: {{ input }} <p>
{% for msg in get_flashed_messages() %}
    <p>{{ msg }}</p>
{% endfor %}
<p id="score">Score: {{ session['score'] }} <p>

{% endblock %}