{% extends 'base.html' %}
{% block content %}

<p id="timer"></p>

<table>
{% for row in board %}
   <tr>
        {% for cell in row %}
            <td>{{ cell }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>

<p id="score">Score: 0</p>
<p id="num_attempts">Games Played: {{ num_attempts }}</p>
<p id="highscore">Highscore: {{highscore}}</p>

<form id="form" method="POST">
    <input id="form_input" type="text" value="word" name="name">
    <button type="submit">Submit</button>
</form>

<button id="restart-btn">Play Again</button>

<p id="msg"></p>

<div id="word_display"><p><b>Words Found:</b></p></div>


{% endblock %}